.container
  .row
    .col.s12
      .card
        .card-tabs
          %ul.tabs.tabs-fixed-width.orange.darken-4
            %li.tab
              %a.white-text.active{href: '#provide-mirror'} provide
            %li.tab
              %a.white-text{href: '#need-mirror'} need
        .card-content.orange.lighten-5
          #provide-mirror provide
          #need-mirror need

