!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}/
    %title MirrorhubWeb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body.grey.lighten-2
    %nav.teal{:role => "navigation"}
      .nav-wrapper.container
        %a#logo-container.brand-logo{href: '/'} mirrorhub.io
        %ul.right.hide-on-med-and-down
          - if session['token']
            %li
              %a{href: '/mirrors'} Mirrors
            %li
              %a{href: '/dashboard'} Dashboard
            %li
              %a{href: '/logout'} Logout
          - else
            %li
              %a{href: '/login'} Login
        %ul#nav-mobile.side-nav
          - if session['token']
            %li
              %a{href: '/mirrors'} Mirrors
            %li
              %a{href: '/dashboard'} Dashboard
            %li
              %a{href: '/logout'} Logout
          - else
          %li
            %a{href: '/login'} Login
        %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
          %i.material-icons menu
    %main
      = yield
    %footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            %h5.white-text Our Mission
            %p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12.offset-l3
            %h5.white-text Connect
            %ul
              %li
                %a.white-text{href: 'https://github.com/mirrorhub-io'} Github
      .footer-copyright
        .container
          Made by
          %a.orange-text.text-lighten-3{:href => "http://materializecss.com"} Materialize
